{% extends "tasks/base.html" %}
{% block content %}
    <div class="center-column">
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input type="submit" class="btn btn-info" name="Create Task">
        </form>

        {% for task in tasks %}
            <div class="tasks">
                <a href="{% url 'update_task' task.id %}" class="btn btn-light btn-sm">Update</a>
                <a href="{% url 'delete_task' task.id %}"class="btn btn-danger btn-sm">Delete</a>
                {% if task.completed == True %}
                <strike>{{ task }}</strike>
                {% else %}
                <span>{{ task }}</span> 
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}